ETHERSCAN_API_KEY=

MAINNET_RPC_URL=

SEPOLIA_RPC_URL=
ARB_SEPOLIA_RPC_URL=
TEST_PRIVATE_KEY=
TREASURY=
SPOT_USDC=
PERPS_USDC=
PERPS_HOUSE_POOL=
PERPS_HOUSE_POOL_REDEMPTION_MATH_SIDECAR=
PERPS_ORDER_ROUTER=
PERPS_EMERGENCY_COORDINATOR=
PERPS_GUARDIAN=
MAX_SENIOR_EXPOSURE_USDC=
MAX_SENIOR_SHARE_BPS=
ACTIVATE_TRADING=true
PYTH_UPDATE_DATA=
