ETHERSCAN_API_KEY=

MAINNET_RPC_URL=

SEPOLIA_RPC_URL=
ARB_SEPOLIA_RPC_URL=
TEST_PRIVATE_KEY=
PYTH_API_KEY=
HERMES_BASE_URL=https://pyth.dourolabs.app/hermes/v2/updates/price/latest
RELEASE_COMMIT=
TREASURY=
SPOT_USDC=
PERPS_USDC=
PERPS_OWNER=
PERPS_CLEARINGHOUSE=
PERPS_ENGINE=
PERPS_TERMINAL_NAV_BOOK=
PERPS_ENGINE_PLANNER=
PERPS_ENGINE_SETTLEMENT_SIDECAR=
PERPS_ENGINE_ADMIN=
PERPS_HOUSE_POOL=
PERPS_HOUSE_POOL_REDEMPTION_MATH_SIDECAR=
PERPS_SENIOR_VAULT=
PERPS_JUNIOR_VAULT=
PERPS_ACCOUNT_LENS=
PERPS_ENGINE_LENS=
PERPS_ORDER_POLICY_EVALUATOR=
PERPS_ORDER_EXECUTION_SIDECAR=
PERPS_ORDER_ROUTER=
PERPS_LIQUIDATION_BATCH_SIDECAR=
PERPS_ORDER_LIFECYCLE_BOOK=
PERPS_POSITION_PROTECTION_BOOK=
PERPS_ORACLE=
PERPS_ORDER_ROUTER_ADMIN=
PERPS_PUBLIC_LENS=
PERPS_SETTLEMENT_MONITOR_LENS=
PERPS_SETTLEMENT_MONITOR_SIDECAR=
PERPS_EMERGENCY_COORDINATOR=
PERPS_GUARDIAN=
SENIOR_SEED_USDC=10000000000000
JUNIOR_SEED_USDC=10000000000000
SENIOR_SEED_RECEIVER=
JUNIOR_SEED_RECEIVER=
ACTIVATE_TRADING=false
VERIFY_PHASE=deployed
PYTH_UPDATE_DATA=
